body {
	background-color: #1D1D1C;
	font-family: Futura, cursive, sans-serif;
}

#heading {
	height: 125px;
	width: 100%;
	margin: auto;
	margin-top: -20px;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 5px black;
	color: white;
	font-size: 3.5em;
	padding-top: 20px;
}

#question_mark {
	animation: spin 3s linear 5;
	font-size:10em;
	margin: 0 auto;
	display: block;
	margin-bottom: 40px;
}

@keyframes spin {
	to {transform: rotatey(360deg)};
}

#guess-label {
	font-size: 2em;
	text-shadow: 2px 2px 5px black;
	color: white;
}

#submit {
	margin-left: 40px;
	margin-bottom: 15px;
	height: 80px;
	width: 80px;
	border-radius:50%;
}

#guess-box {
	margin-left: 50px;
	width: 250px;
	height: 100px;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

.btn {
	width: 200px;
	background-color: black;
	color: white;
}

